.heading{
    color: white;
    font-size: 4rem;
    font-style: bold;
    letter-spacing: 0.5rem;
    display: flexbox;
    width: 50%;
    height: 10%;
    text-align: center;
}

.subheading{
    color: white;
    font-size: 2rem;
    font-style: bold;
    letter-spacing: 0.25rem;
    display: flexbox;
    width: 50%;
    height: auto;
    text-align: right;
}